# Compare-Algorithm

In [53]:
import os

def writeToCSV(beeid, indirection, outdirection):
    # write to MaschineLearnedData.csv
    #print("Error: File does not exist!")
    attache = 'a'
    if not (os.path.isfile('./result.csv')):
        attache = 'w'
        with open('result.csv', attache) as csvfile:
            filewriter = csv.writer(csvfile, delimiter=',', quotechar='\"', quoting=csv.QUOTE_MINIMAL)
            filewriter.writerow(["bee_id", "in_direction", "out_direction"])
        attache = 'a'
                    
    with open('result.csv', attache) as csvfile:
        filewriter = csv.writer(csvfile, delimiter=',', quotechar='\'', quoting=csv.QUOTE_MINIMAL)
        filewriter.writerow([beeid, indirection, outdirection]) 
        
def formatFileName(filename):
    return filename.split('_')[-1].split('.')[0]

In [66]:
""" filder dublicates from csv """
import pandas as pd

gtd = pd.read_csv('GroundTruthData.csv')
gtd = pd.DataFrame(data=gtd)

mld = pd.read_csv('MaschineLearnedData.csv')
mld = pd.DataFrame(data=mld)

#delete dublications
#mld = mld.drop_duplicates(['bee_id', 'time_in', 'time_out'], keep='first',)
#mld.to_csv('MaschineLearnedData.csv', encoding='utf-8', index=False)

for indexMLD, rowMLD in mld.iterrows():
    for indexGTD, rowGTD in gtd.iterrows():
        boolIn, boolOut, boolBoth = False, False, False
        
        if (rowMLD['time_in'] == rowGTD['timestamp_in'] and rowMLD['bee_id'] == rowGTD['bee_id']):
            if (rowMLD['in_direction'] == rowGTD['out_direction']):
                boolIn = True
                      
        if (rowMLD['time_out'] == rowGTD['timestamp_out'] and rowMLD['bee_id'] == rowGTD['bee_id']):
            if (rowMLD['out_direction'] == rowGTD['out_direction']):
                boolOut = True
        
        if (boolIn and boolOut):
            boolBoth = True
            writeToCSV(int(rowMLD['bee_id']), "OK", "OK")
        
        if ((boolIn or boolOut) and not boolBoth):

            if (boolIn):
                writeToCSV(int(rowMLD['bee_id']), "OK", "mismatch")
            else:
                writeToCSV(int(rowMLD['bee_id']), "mismatch", "OK")

result = pd.read_csv('result.csv')
result = pd.DataFrame(data=result)

lenResult = len(result)
iterateIn, iterateOut, iterateAll = 0, 0, 0

for index, row in result.iterrows():
    if (row['in_direction'] == "OK" and row['out_direction'] == "OK"):
        iterateAll += 1
    if (row['in_direction'] == "OK"):
        iterateIn += 1
    if (row['out_direction'] == "OK"):
        iterateOut += 1

try:
    print(round(iterateAll / lenResult, 4) * 100, "% total correctness")
    print(round(iterateIn / lenResult, 4) * 100, "% Ingoing correctness")
    print(round(iterateOut / lenResult, 4) * 100, "% Outgoing correctness")
    #print(round(_outCorrectness / _allMatches, 4) * 100, "% Average correctness")

except ZeroDivisionError:
    print("Nothing to compare!")

print('Done. Please check result.csv file for more details.')

result

19.48 % total correctness
40.26 % Ingoing correctness
79.22 % Outgoing correctness
Done. Please check result.csv file for more details.

    bee_id in_direction out_direction
0     1970     mismatch            OK
1      220           OK            OK
2     3925     mismatch            OK
3      388     mismatch            OK
4      446     mismatch            OK
5     1568     mismatch            OK
6      420           OK            OK
7     1325           OK      mismatch
8     1325     mismatch            OK
9     1086           OK            OK
10    1401     mismatch            OK
11    1596           OK      mismatch
12    1596     mismatch            OK
13    1149     mismatch            OK
14    3894     mismatch            OK
15     830     mismatch            OK
16     590     mismatch            OK
17     830     mismatch            OK
18    1362           OK      mismatch
19    1362     mismatch            OK
20    3614     mismatch            OK
21     731     mismatch            OK
22     793     mismatch            OK
23    1057     mismatch            OK
24    1243     mismatch            OK
25     303           OK      mismatch
26     868           OK      mismatch
27    1557           OK      mismatch
28    1557     mismatch            OK
29     873           OK            OK
..     ...          ...           ...
47     957     mismatch            OK
48     571           OK      mismatch
49    1205     mismatch            OK
50     571     mismatch            OK
51    1425           OK      mismatch
52    1425     mismatch            OK
53    1056     mismatch            OK
54     793     mismatch            OK
55    1174           OK            OK
56     793           OK      mismatch
57    1301           OK      mismatch
58    1056           OK      mismatch
59    1301     mismatch            OK
60     793     mismatch            OK
61     793     mismatch            OK
62     993     mismatch            OK
63    1301     mismatch            OK
64     301           OK            OK
65     793     mismatch            OK
66    1337     mismatch            OK
67      65           OK      mismatch
68     303           OK      mismatch
69    1235           OK            OK
70    1554           OK            OK
71    1301     mismatch            OK
72     951           OK            OK
73    1520           OK            OK
74    1301           OK      mismatch
75    1301     mismatch            OK
76    1390           OK            OK

[77 rows x 3 columns]